@{

    ViewData["Title"] = "Control Devices";

}



<link rel="stylesheet" href="~/css/CustomSamplesCSS.css" />

<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/js/CustomSamples.js"></script>



@*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">*@



<div id="mainSampleDiv">



    <div class="row">

        <div class="col-lg-2">

            <button id="btnShowDevices" class="btn btn-default"></button>

        </div>

        <div id="btnControlDevices">

            <div class="col-lg-2">

                <button id="btnToggleAll" class="btn btn-default">Toggle All Devices</button>

            </div>

            <div class="col-lg-2">

                <button id="btnTurnAllDevicesOn" class="btn btn-default">Turn All Devices On</button>

            </div>

            <div class="col-lg-2">

                <button id="btnTurnAllDevicesOff" class="btn btn-default">Turn All Devices Off</button>

            </div>

            <div class="col-lg-2">

                <button id="btnOpenAllDevices" class="btn btn-default">Open All Devices</button>

            </div>

            <div class="col-lg-2">

                <button id="btnCloseAllDevices" class="btn btn-default">Close All Devices</button>

            </div>

        </div>

    </div>



    <div id="divDevices">

    </div>



</div>